  <body>
    # include ../partials/main.ejs
    
    # include ../partials/footer.ejs
    #_ if (page.scripts.length > 0) {

      #_ page.scripts.forEach(function(path) {
        <script src="#=(path)"></script>
      #_ })
    #_ }
  </body>