<section class="controls-block">
  <h2>#=(control_block.title)</h2>
  <div class="block-content">
    #_ control_block.controls.forEach(function(control) {
      <div class="control">
        <label for="#=(control.id)">#=(control.name)</label>
        #_ if (control.type == "checkbox") {
          #_ const checkbox = control;
          #_ include ../partials/checkbox.ejs
        #_ } else if (control.type == "range") {
          #_ const range = control;
          #_ include ../partials/range.ejs
        #_ } else if (control.type == "tabs") {
          #_ const tabs = control;
          #_ include ../partials/tabs.ejs
        #_ } else if (control.type == "button") {
          #_ const button = control;
          #_ include ../partials/button.ejs
        #_ } else {
          #_ throw Error("Unknown control type " + control.type);
        # }
        </div>
    #_ })
      </div>
</section>