.badge {
  width: 32px;
  height: 32px;
  margin: 8px;
  border: none;
}

.badge > svg {
  width: 32px;
  height: 32px;
  fill: #535353;
}

.badge:focus > svg {
  fill: #535353;
}

.badge:hover, .badge:focus {
  border: none;
}

.badge:hover > svg, .badge:focus > svg {
  fill: #7E7E7E;
}

.badge-shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  margin-top: 32px;
  border-top: 1px solid #C9C9C9;
  min-height: 96px;
  align-items: center;
}
