#_ { const style = (tabs.compact === true) ? "compact" : "";
<div class="tabs #=(style)">
    #_ tabs.options.forEach(function(option) {
    #_ const id = tabs.group + "-" + option.value;
    #_ let initialState = (option.checked === true) ? "checked" : "";
    #_ if (option.enabled === false) { initialState += " disabled"}
    <input type="radio" name="#=(tabs.group)" value="#=(option.value)" id="#=(id)" #=(initialState)/>
    <label for="#=(id)">#=(option.label)</label>
    #_ });
</div>
#_ }