<!DOCTYPE html>
<html lang="en">

#_ include ../partials/demo/head-1.0.0.ejs

<body>
  <main>
    <h1>#=(demo.title)</h1>

    <div class="description">
      #_ { const paragraphs = demo.description;
      #_ include ../partials/common/paragraphs-1.0.0.ejs
      #_ }

      #_ { const link = {url: demo.github, text: "More on GitHub"};
      #_ include ../partials/common/link-1.0.0.ejs
      #_ }
      # if (demo.links.length > 0) {
      <br/>
      #_ demo.links.forEach(function(link) {
      <br/>
      #_ include ../partials/common/link-1.0.0.ejs
      #_ });
      #_ }
    </div>

    <div class="demo">
      <canvas id="#=(demo.canvas.id)" width="#=(demo.canvas.width)" height="#=(demo.canvas.height)"></canvas>
    
      <div class="controls">
        #_ for (let i = 0; i < demo.control_blocks.length; ++i) {
          #_ if (i != 0) {
          
          <hr/>
          
          #_ }
          #_ const control_block = demo.control_blocks[i];
          # include ../partials/demo/control-block-1.0.0.ejs
        #_ }
        # if (demo.indicators.length > 0) {
        <hr/>
        #_ }
        # demo.indicators.forEach(function(indicator) {
        <div>#=(indicator.name): 
          <span id="#=(indicator.id)"></span>
        </div>
        #_  });
      </div>
    </div>
  </main>

  #_ include ../partials/common/footer-1.0.0.ejs
  # if (page.scripts.length > 0) {

    #_ page.scripts.forEach(function(path) {
      <script src="#=(path)"></script>
    #_ })
  #_ }
</body>

</html>