<head>
        <meta charset="utf-8">
        <meta name="description" content="#=(page.description)" />
        <title>#=(page.title)</title>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        #_ if(page.favicons.length > 0) {
      
        #_ }
        #_ page.favicons.forEach(function(favicon) {
          <link rel="icon" type="image/png" href="#=(favicon.path)" sizes="#=(favicon.resolution)">
        #_ })
        #_ if(page.css.length > 0) {
      
        #_ }
        #_ page.css.forEach(function(css) {
        <link rel="stylesheet" type="text/css" href="#=(css)">
        #_ })

        <style>
            .demo > canvas {
                #_ for(let property in demo.canvas.css) {
                #=(property): #=(demo.canvas.css[property]);
                #_ }
            }
        </style>
      </head>